// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

$font : 'Roboto', sans-serif;
$themeColor : #3498DB;

html{
  background-color: #fff;
  overflow: auto;
  }
body {
  background  : #fff;
  font-family : $font;
  color       : #333;
  overflow: auto;
  }

.hero-unit {
  margin           : 50px auto 0 auto;
  width            : 300px;
  font-size        : 18px;
  font-weight      : 200;
  line-height      : 30px;
  background-color : #eee;
  border-radius    : 6px;
  padding          : 60px;
  h1 {
    font-size      : 60px;
    line-height    : 1;
    letter-spacing : -1px;
    }
  }

.browsehappy {
  margin     : 0.2em 0;
  background : #ccc;
  color      : #000;
  padding    : 0.2em 0;
  }

header {
  height           : 56px;
  box-shadow       : 0 1px 2px rgba(0, 0, 0, 0.3);
  position         : fixed;
  width            : 100%;
  background       : url("http://ui.lumapps.com/images/header/header.png");
  background-color : $themeColor;
  z-index          : 9;
  img {
    display    : block;
    max-width  : 100%;
    font-style : italic;
    height     : 30px;
    margin     : 12px 15px;
    display    : block;
    float      : left;
    }
  nav {
    width : 50%;
    float : right;
    a {
      display : block;
      float   : right;
      .btn {
        text-transform : none;
        font-weight    : 500;
        color          : #fff
        }
      }

    }
  }

.home {
  .h-banner {
    height           : 370px;
    width            : 100%;
    background       : url("http://ui.lumapps.com/images/header/header.png");
    background-color : $themeColor;
    overflow         : auto;
    .h-title {
      font-size   : 35px;
      display     : block;
      width       : 900px;
      margin      : 120px auto 0 auto;
      color       : #fff;
      font-weight : lighter;
      span {
        font-weight : 500;
        color       : rgb(30, 30, 113);
        }
      }
    a {
      display         : table;
      text-decoration : none;
      margin          : 0 auto;
      margin-top      : 80px;
      .btn {

        display : block;
        }
      }
    .h-version {
      display    : block;
      color      : #fff;
      margin     : 10px;
      text-align : center;
      }

    }
  .h-contribute {
    height           : 50px;
    width            : 100%;
    background-color : $themeColor;
    border-top       : 1px solid rgba(255, 255, 255, 0.15);
    }
  .h-features {
    max-width : 1000px;
    width     : 100%;
    margin    : 0 auto;
    overflow  : auto;
    h3{
      text-align: center;
      padding: 15px;
      border-bottom: 1px solid #f4f4f4;
      font-weight: 500;
      }
    .tc-black-1 {
      div {
        padding   : 20px 25px;
        display   : block;
        font-size : 0.95em;
        i {
          font-size    : 42px;
          float        : left;
          margin-right : 25px;
          color        : $themeColor;
          width        : 40px;
          height       : 50px;
          margin-top   : 10px;
          }
        span {
          display     : block;
          font-weight : 500;
          color       : $themeColor;
          }
        }
      }

    }
  }

footer{
  height : 200px;
  width : 100%;
  background-color: $themeColor;
  margin-top : 40px;
  overflow: auto;
  }

.typed-cursor {
  opacity           : 1;
  -webkit-animation : blink 0.7s infinite;
  -moz-animation    : blink 0.7s infinite;
  animation         : blink 0.7s infinite;
  }

@keyframes blink {
  0% {
    opacity : 1;
    }
  50% {
    opacity : 0;
    }
  100% {
    opacity : 1;
    }
  }

@-webkit-keyframes blink {
  0% {
    opacity : 1;
    }
  50% {
    opacity : 0;
    }
  100% {
    opacity : 1;
    }
  }

@-moz-keyframes blink {
  0% {
    opacity : 1;
    }
  50% {
    opacity : 0;
    }
  100% {
    opacity : 1;
    }
  }

.fade {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
  }
.fade.ng-enter, .fade.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }
.fade.ng-enter {
  opacity: 0;
  }
.fade.ng-enter-active {
  opacity: 1;
  }
.fade.ng-leave {
  opacity: 1;
  }
.fade.ng-leave-active {
  opacity: 0;
  }
