// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto);

$font:'Roboto', sans-serif;

body {
  background: #fafafa;
  font-family: $font;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header{
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.home{
  .h-banner{
    height: 305px;
    width: 100%;
    @include background-image(linear-gradient(90deg, rgba(67, 206, 162, 0.8) 10%, rgba(24, 90, 157, 0.8) 90%), url('../images/back.jpg'));
    background-size: 100%;
  }
  .github-activity{
    height: 40px;
  }
}



