.home {
  .h-banner {
    height           : 370px;
    width            : 100%;
    background       : url("../images/pattern.png");
    background-color : $themeColor;
    overflow         : auto;


    .h-title{

      font-size   : 35px;
      display     : block;
      width       : 900px;
      margin      : 120px auto 0 auto;
      color       : #fff;
      font-weight : lighter;
      @include media-query(portable){
        display: none;
        }
      span {
        font-weight : 500;
        color       : rgb(30, 30, 113);
        }
      }
    .h-title-wide {
      width       : 900px;
      display: block;
      @include media-query(portable){
        display: none;
        }
      }

    .h-title-medium {
      width       : 520px;
      display: none;
      @include media-query(portable){
        display: block;
        }
      @include media-query(palm){
        display: none;
        }
      }

    .h-title-small{
      width: 255px;
      text-align: center;
      display: none;
      @include media-query(palm){
        display: block;
        }
      }
    a {
      display         : table;
      text-decoration : none;
      margin          : 0 auto;
      margin-top      : 80px;
      .btn {

        display : block;
        }
      }
    .h-version {
      display: table;
      color: #fff;
      margin: 10px auto;
      text-align: center;
      }

    }
  .h-contribute {
    height           : 50px;
    width            : 100%;
    background-color : $themeColor;
    border-top       : 1px solid rgba(255, 255, 255, 0.15);
    }
  .h-features {
    max-width : 1000px;
    width     : 100%;
    margin    : 0 auto;
    overflow  : auto;
    h3 {
      text-align    : center;
      padding       : 15px;
      border-bottom : 1px solid #f4f4f4;
      font-weight   : 500;
      }
    .tc-black-1 {
      div {
        padding   : 20px 25px;
        display   : block;
        font-size : 0.95em;
        i {
          font-size    : 42px;
          float        : left;
          margin-right : 25px;
          color        : $themeColor;
          width        : 40px;
          height       : 50px;
          margin-top   : 10px;
          }
        span {
          display     : block;
          font-weight : 500;
          color       : $themeColor;
          }
        }
      }

    }
  .h-example{
    width : 100%;
    margin-top : 30px;
    .h-raw{
background-image: url("../images/back.jpg");
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      color:#fff;
      padding : 20px;
      @include background-image(linear-gradient(90deg, rgba(52, 152, 219, 0.92) 10%, rgba(52, 152, 219, 0.91) 90%), url('../images/back.jpg'));
      div{
        max-width: $max-width;
        margin : 0 auto;
        padding : 60px 0;
        padding-top : 30px;
        span{
          text-align: center;
          margin-bottom : 30px;
          }
        }
      }
    .h-result{
      max-width: $max-width;
      margin : 0 auto;
      code{
        padding : 20px;
        }
      .display-block{
        text-align: center;
        margin:30px 0;
        }
      }
    }
  }
