@font-face {
    font-family: 'smileys';
    src:url('../fonts/smileys.eot?5zh0vu');
    src:url('../fonts/smileys.eot?#iefix5zh0vu') format('embedded-opentype'),
        url('../fonts/smileys.woff?5zh0vu') format('woff'),
        url('../fonts/smileys.ttf?5zh0vu') format('truetype'),
        url('../fonts/smileys.svg?5zh0vu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-smiley {
    font-family: 'smileys';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


