<div class="doc">
  <div class="doc-sidebar">
    <dl>
      <dt scroll-to="basic" offset="80">Basic Usage</dt>
      <dd scroll-to="basic-options" offset="80">Options</dd>
      <dd scroll-to="basic-usage" offset="80">Usage Example</dd>
    </dl>

    <dl>
      <dt scroll-to="adv" offset="80">Advanced Usage</dt>
      <dd offset="80" scroll-to="adv">Features</dd>
      <dd offset="80" scroll-to="adv-directive">Directive</dd>
      <dd offset="80" scroll-to="adv-directives-attr">Attributes</dd>
      <dd offset="80" scroll-to="adv-options">Options</dd>
      <dd offset="80" scroll-to="adv-template">Default Template</dd>
      <dd offset="80" scroll-to="adv-variables">template variables</dd>
    </dl>

  </div>
  <div class="doc-content">
    <span class="title display-block" id="basic">Basic Usage </span>
    You can use the filter for basic use. Its features are limited to converting text into
    <a
      href="http://www.emoji-cheat-sheet.com/" target="_blank"><span class="color-blue">Emojis</span></a>,
    <span class="color-blue">Font Smileys</span> and <span class="color-blue">HTML Links</span>.
    <highlight-js>
      &lt;div ng-bind-html="variable | embed"&gt;&lt;/div&gt;
    </highlight-js>
    <span class="title-1" id="basic-options">Options </span><br>
    <highlight-js>
      embed:{
      link        :true,                      //for coverting urls into anchor tags
      linkTarget  :'_self'                    //_blank|_self|_parent|_top|framename
      }
    </highlight-js>

    <span class="title-1" id="basic-usage">Usage Example</span>
    <highlight-js>
      &lt;div ng-bind-html="variable | embed:{linkTarget:'_blank'}"&gt;&lt;/div&gt;
    </highlight-js>

    <span class="title display-block" id="adv">Advanced Usage</span>
    There is a directive that supports many features in additions to the features supported by the filter. These features
    include :

    <ul>
      <li>Converts emoticon text codes into emoticons :smile: , :heart:</li>
      <li>Finds links in text input and turns them into html links.</li>
      <li>Youtube and Vimeo video embedding with video details fetched from the api.</li>
      <li>HTML5 player supported media embedding (mp3,mp4,ogg)</li>
      <li>PDF viewing with preview and then the actual pdf in a frame.</li>
      <li>Inline Code Syntax highlighting (uses highlight.js)</li>
      <li>Twitter tweet embedding supported</li>
      <li></li>Codepen, jsbin, jsfiddle embed supported</ul>
      <li>soundcloud and spotify support</li>
      <li>Twitch tv, dotSub, dailymotion, vine,TED and liveLeak support.</li>
    </ul>

    And is fully customizable<br>

    <div class="title-1" id="adv-directive">Directive</div>
    <highlight-js>
      &lt;ng-embed embed-data="text" embed-template-url="template.html" embed-options="options"/&gt;
    </highlight-js>
    <div class="title-1" id="adv-directives-attr">Details about the Attributes</div>
    <table class="data-table data-table--has-primary data-table--has-secondary">
      <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>embed-data</td>
        <td>The scope variable that contains the text string to be processed</td>
      </tr>
      <tr>
        <td>embed-options</td>
        <td>The scope variable that contains the options object (mandatory)</td>
      </tr>
      <tr>
        <td>embed-template</td>
        <td>User defined template for the processed text</td>
      </tr>
      </thead>
    </table>

    <div class="title-1" id="adv-options">Options</div>
    <highlight-js class="js">
      angular.module('yourAppName',['ngEmbed'])

      .controller('yourControllerName',['$scope',function($scope){

      $scope.options = {
      link             : true,
      linkTarget       : '_self',
      pdf              : {
        embed: true
      },
      image            : {
        embed: false
      },
      audio            : {
        embed: true
      },
      code             : {
          highlight  : true,
          lineNumbers: false
      },
      basicVideo       : false,
      video            : {
          embed           : false,
          width           : null,
          height          : null,
          ytTheme         : 'dark',
          details         : false,
          thumbnailQuality: 'medium',
          ytAuthKey       : null
      },
      tweetEmbed       : true,
      tweetOptions     : {
          //The maximum width of a rendered Tweet in whole pixels. Must be between 220 and 550 inclusive.
          maxWidth  : 550,
          //When set to true or 1 links in a Tweet are not expanded to photo, video, or link previews.
          hideMedia : false,
          //When set to true or 1 a collapsed version of the previous Tweet in a conversation thread
          //will not be displayed when the requested Tweet is in reply to another Tweet.
          hideThread: false,
          //Specifies whether the embedded Tweet should be floated left, right, or center in
          //the page relative to the parent element.Valid values are left, right, center, and none.
          //Defaults to none, meaning no alignment styles are specified for the Tweet.
          align     : 'none',
          //Request returned HTML and a rendered Tweet in the specified.
          //Supported Languages listed here (https://dev.twitter.com/web/overview/languages)
          lang      : 'en'
      },
      twitchtvEmbed    : true,
      dailymotionEmbed : true,
      tedEmbed         : true,
      dotsubEmbed      : true,
      liveleakEmbed    : true,
      soundCloudEmbed  : true,
      soundCloudOptions: {
          height      : 160, themeColor: 'f50000',   //Hex Code of the player theme color
          autoPlay    : false,
          hideRelated : false,
          showComments: true,
          showUser    : true,
          showReposts : false,
          visual      : false,         //Show/hide the big preview image
          download    : false          //Show/Hide download buttons
      },
      spotifyEmbed     : true,
      codepenEmbed     : true,
      codepenHeight    : 300,
      jsfiddleEmbed    : true,
      jsfiddleHeight   : 300,
      jsbinEmbed       : true,
      jsbinHeight      : 300,
      plunkerEmbed     : true,
      githubgistEmbed  : true,
      ideoneEmbed      : true,
      ideoneHeight:300
      };
      }]);
    </highlight-js>

    <div class="title-1" id="adv-template">Default template</div>

    <highlight-js>
      <code ng-non-bindable>
      &lt;!--====== Main text with emoticons and link ============--&gt;

      &lt;div ng-bind-html="neText"&gt;&lt;/div&gt;

      &lt;!---- Video Embedding code (Youtube and vimeo)------------&gt;

      &lt;div class="ne-video" ng-if="video.host" class="fade"&gt;
        &lt;div class="ne-video-preview" ng-hide="nePlayVideo"&gt;
          &lt;div class="ne-video-thumb" ng-click="nePlayVideo=!nePlayVideo"&gt;
            &lt;img ng-src="{{video.thumbnail}}" alt=""/&gt;
            &lt;i class="fa fa-play-circle-o"&gt;&lt;/i&gt;
          &lt;/div&gt;
        &lt;div class="ne-video-detail"&gt;
        &lt;div class="ne-video-title"&gt;
          &lt;a ng-href="{{video.url}}"&gt;{{video.title}}&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="ne-video-desc"&gt;
          {{video.description}}
        &lt;/div&gt;
        &lt;div class="ne-video-stats"&gt;
          &lt;span&gt;&lt;i class="fa fa-eye"&gt;&lt;/i&gt; {{video.views}}&lt;/span&gt;
          &lt;span&gt;&lt;i class="fa fa-heart"&gt;&lt;/i&gt; {{video.likes}}&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;/div&gt;
        &lt;div class="ne-video-player" ng-if="nePlayVideo"&gt;
          &lt;iframe ng-src="{{video.embedSrc}}" frameBorder="0" width="{{video.width}}" height="{{video.height}}" webkitallowfullscreen mozallowfullscreen allowfullscreen&gt;&lt;/iframe&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;!---video player for mp4 and other html5 player supported videos----&gt;

      &lt;div class="ne-video" ng-if="video.basic"&gt;
        &lt;div class="ne-video-player"&gt;
          &lt;div class="player"&gt;
            &lt;video ng-src="{{video.basic}}" controls&gt;&lt;/video&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;!-- image preview code (gif|jpg|jpeg|tiff|png|svg|webp) ---&gt;

      &lt;div ng-init="neImageLong=false" ng-class="{false:'ne-image', true:'ne-image ne-image-long'}[neImageLong]"
      ng-if="image.url"&gt;
        &lt;div class="ne-image-wrapper"&gt;
          &lt;img ng-src="{{image.url}}" ng-click="neImageLong=!neImageLong" alt=""/&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="ne-pdf" ng-if="pdf.url"&gt;
        &lt;div class="ne-pdf-preview" ng-hide="neShowPdf"&gt;
          &lt;div class="ne-pdf-icon"&gt;
            &lt;i class="fa fa-file-pdf-o"&gt;&lt;/i&gt;
          &lt;/div&gt;
          &lt;div class="ne-pdf-detail" &gt;
          &lt;div class="ne-pdf-title"&gt;
            &lt;a href=""&gt;{{pdf.url}}&lt;/a&gt;
          &lt;/div&gt;
          &lt;div class="ne-pdf-view"&gt;
            &lt;button&gt;&lt;i class="fa fa-download"&gt;&lt;/i&gt; &lt;a ng-href="{{pdf.url}}" target="_blank"&gt;Download&lt;/a&gt;&lt;/button&gt;
            &lt;button ng-click="neShowPdf=!neShowPdf"&gt;&lt;i class="fa fa-eye"&gt;&lt;/i&gt; View PDF&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;!--====== pdf viewer =========--&gt;

        &lt;div class="ne-pdf-viewer" ng-if="neShowPdf" ng-show="neShowPdf"&gt;
          &lt;iframe ng-src="{{pdf.url}}" frameBorder="0"&gt;&lt;/iframe&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;!--===== audio player ===========--&gt;

      &lt;div class="ne-audio" ng-if="audio.url"&gt;
        &lt;audio ng-src="{{audio.url}}" controls&gt;&lt;/audio&gt;
      &lt;/div&gt;

      &lt;div ng-if="tweets" ng-repeat="tweet in tweets"&gt;
        &lt;div ng-bind-html="tweet"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div ng-if="videoServices" class="ne-video" ng-repeat="v in videoServices"&gt;
        &lt;div class="ne-video-player"&gt;
          &lt;div class="player"&gt;
            &lt;div ng-bind-html="v"&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div ng-if="audioServices" class="ne-audio" ng-repeat="a in audioServices"&gt;
        &lt;div ng-bind-html="a"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div ng-if="codeServices" class="ne-embed" ng-repeat="c in codeServices"&gt;
        &lt;div ng-bind-html="c"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div ng-if="gist" class="ne-gist" ng-repeat="g in gist"&gt;
        &lt;ne-gist id="{{g}}"&gt;&lt;/ne-gist&gt;
      &lt;/div&gt;
      </code>
    </highlight-js>

    <p> You can make your custom template and use it and even change the styling of the default template by
      changing the classes. I am giving you the default template so that you are not confused while making your
      own template and properly know the class names if you want to change the styling.</p>
    <p>There are certain video details variable that are available for the template. Its structure is given below.</p>

    <div class="title-1" id="adv-variables">Variables accessible in the template</div>
    <highlight-js class="javascript">
      var video={
          host            :String,             // youtube/vimeo
          title           :String,             // Title of the video
          thumbnail       :String,             // Url of the video thumbnail
          description     :String,             // Description of the video truncating after 250 characters replacing linebreak (especially for vimeo)
          rawDescription  :String,             // Description of the video as sent by the server
          views           :Number,             // Number of video views
          likes           :Number,             // No. of likes
          uploader        :String              // username of video uploader
          uploaderPage    :String              // url of uploader's page
          uploadDate      :Date,               // Date of video upload
          url             :String,             // video url
          embedSrc        :String,             // video embed url
          width           :Number,
          height          :Number              // dimensions of the embedded video
      }

      var image={
          url             :String
      }

      var audio={
          url             :String
      }

      var pdf={
          url             :String
      }

      var codeServices    :Array                // array of embed code of links of jsbin, jsfiddle, ideone and codepen

      var audioServices   :Array                //array of embed code of spotify and soundcloud

      var videoServices   :Array                // Array of embed code of dailymotion, ted, liveleak, dotsub and twitch tv

      var gist            :Array                // Array of all gist ids.
    </highlight-js>


  </div>


</div>
