<div class="eg">
  <div class="eg-sidebar">
    <dl>
      <dt scroll-to="basic" offset="80">Basic Use Example</dt>
      <dd scroll-to="emoji" offset="80">Emojis and url filter</dd>
    </dl>
    <dl>
      <dt>Advanced Usage Examples</dt>
      <dd offset="80" scroll-to="yt">Youtube Video Embedding</dd>
      <dd offset="80" scroll-to="vim">Vimeo video embedding</dd>
      <dd offset="80" scroll-to="pdf">pdf Viewing and preview embedding</dd>
      <dd offset="80" scroll-to="code">Code Syntax Highlighting</dd>
      <dd offset="80" scroll-to="media">Media files embedding</dd>
      <dd offset="80" scroll-to="template">Custom Template</dd>
    </dl>
  </div>
  <div class="eg-content">
    <h2 class="title" id="basic">Basic Use Example (as Filter)</h2>
    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="emoji">Emojis and URL Filter</div>
      <div class="tc-black-1">
        <div>
          <lx-tabs>
            <lx-tab heading="Raw Text">
              <p class="p+">
                Lotus :smile: eleates vix attrahendams luna est.Advenas mori!Fermiums prarere in cubiculum!Cum cacula cantare, omnes stellaes manifestum azureus, nobilis https://angularjs.org/ acipenseres.Cum orgia mori, omnes rationees <3 experientia alter, regius :heart: mortemes.Devatios persuadere, tanquam secundus spatii.Heu, barcas!Cedriums observare!A falsis, lacta talis imber. :P Cur eleates peregrinatione?
              </p>
            </lx-tab>
            <lx-tab heading="HTML">
              <p class="p+">
                <highlight-js>
  &lt;div ng-bind-html="text | embed:{linkTarget:'_blank'}"&gt;&lt;/div&gt;
                </highlight-js>
              </p>
            </lx-tab>
            <lx-tab heading="Javascript">
              <p class="p+ tc-black-1">
                <highlight-js lang="javascript">
  $scope.text=  "Lotus :smile: eleates vix attrahendams luna est.Advenas mori!Fermiums prarere in cubiculum!Cum cacula cantare, omnes stellaesmanifestum azureus, nobilis https://angularjs.org/ acipenseres.Cum orgiamori, omnes rationees <3 experientia alter, regius :heart: mortemes.Devatiospersuadere, tanquam secundus spatii.Heu, barcas!Cedriums observare!A falsis,lacta talis imber. :P Cur eleates peregrinatione?"
                </highlight-js>
              </p>
            </lx-tab>
          </lx-tabs>
        </div>
        <div class="title tc-black-1">Result</div>
        <div class="pad">
          <div ng-bind-html="text1 | embed:{linkTarget:'_blank'}"></div>

        </div>

      </div>
    </div>


    <h2 class="title">Advanced Use Examples (as Directive)</h2>



    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="yt">Youtube video embedding</div>
      <div class="tc-black-1">
        <div>
          <lx-tabs>
            <lx-tab heading="Raw Text">
              <p class="p+">
                Naviss credere!Orgia de germanus repressor, gratia rumor!Nunquam pugna axona.Cur orexis peregrinationes?Sunt abactores pugna gratis, germanus lamiaes.Cur lanista cantare?Est castus bromium, cesaris.Tabess velum, tanquam https://www.youtube.com/watch?v=QHulaj5ZxbI germanus musa.Cur lacta prarere? :smile: Assimilant aegre ducunt ad magnum advena.Emeritis, fidelis menss interdum examinare de varius, lotus detrius.
              </p>
            </lx-tab>
            <lx-tab heading="HTML">
              <p class="p+">
                <highlight-js>
  &lt;ng-embed embed-data="ytEmbed" embed-options="options"/&gt;
                </highlight-js>
              </p>
            </lx-tab>

            <lx-tab heading="Javascript">
              <p class="p+ tc-black-1">
                <highlight-js lang="javascript">
  $scope.options={
    link      : true,                   //convert links into anchor tags
    linkTarget  :'_self' ,
    video     : {
    embed           : true,
    width           : null,          //width of embedded player
    height          : null,          //height of embedded player
    ytTheme         : 'dark',        //youtube player theme (light/dark)
    details         : true,
    ytAuthKey       : 'xxxxxxxONTdSSaKwqB1Xxxxxxxx9r_PtusDhq0'
  }};

  $scope.ytEmbed="Naviss credere!Orgia de germanus repressor, gratia rumor!Nunquam pugna axona.Cur orexis peregrinationes?Sunt abactores pugna gratis, germanus lamiaes.Cur lanista cantare?Est castus bromium, cesaris.Tabess velum, tanquam https://www.youtube.com/watch?v=QHulaj5ZxbI germanus musa.Cur lacta prarere? :smile: Assimilant aegre ducunt ad magnum advena.Emeritis, fidelis menss interdum examinare de varius, lotus detrius.";
                </highlight-js>
              </p>
            </lx-tab>
          </lx-tabs>
        </div>
        <div class="title tc-black-1">Result</div>
        <div class="pad">
          <ng-embed embed-data="ytEmbed" embed-options="options"/>

        </div>

      </div>
    </div>

    <!--====== vimeo embed ==========-->

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="vim">Vimeo video embed</div>
      <div class="tc-black-1">
        <div>
          <lx-tabs>
            <lx-tab heading="Raw Text">
              <p class="p+">
  Naviss credere!Orgia de germanus repressor, gratia rumor!Nunquam pugna axona.Cur orexis peregrinationes?Sunt abactores pugna gratis, germanus lamiaes.Cur lanista cantare?Est castus bromium, cesaris.Tabess velum, tanquam https://vimeo.com/92066734 germanus musa.Cur lacta prarere? :smile: Assimilant aegre ducunt ad magnum advena.Emeritis, fidelis menss interdum examinare de varius, lotus detrius.
              </p>
            </lx-tab>
            <lx-tab heading="HTML">
              <p class="p+">
                <highlight-js>
  &lt;ng-embed embed-data="vimeoEmbed" embed-options="options"/&gt;
                </highlight-js>
              </p>
            </lx-tab>

            <lx-tab heading="Javascript">
              <p class="p+ tc-black-1">
                <highlight-js lang="javascript">
  $scope.options={
  link      : true,                   //convert links into anchor tags
  linkTarget  :'_self' ,
  video     : {
  embed           : true,
  width           : null,          //width of embedded player
  height          : null,          //height of embedded player
  ytTheme         : 'dark',        //youtube player theme (light/dark)
  details         : true,
  ytAuthKey       : 'xxxxxxxONTdSSaKwqB1Xxxxxxxx9r_PtusDhq0'
  }};

  $scope.vimeoEmbed="Naviss credere!Orgia de germanus repressor, gratia rumor!Nunquam pugna axona.Cur orexis peregrinationes?Sunt abactores pugna gratis, germanus lamiaes.Cur lanista cantare?Est castus bromium, cesaris.Tabess velum, tanquam https://vimeo.com/92066734 germanus musa.Cur lacta prarere? :smile: Assimilant aegre ducunt ad magnum advena.Emeritis, fidelis menss interdum examinare de varius, lotus detrius."
                </highlight-js>
              </p>
            </lx-tab>
          </lx-tabs>
        </div>
        <div class="title tc-black-1">Result</div>
        <div class="pad">
          <ng-embed embed-data="vimeoEmbed" embed-options="options"/>

        </div>

      </div>
    </div>

    <!--====== pdf embed =============-->

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="mixed">Mixed</div>
      <ng-embed embed-options="options" embed-data="text1"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="tweet">Tweet Embed</div>
      <div class="title bgc-blue-400 tc-white-1" id="twitter">Twitter</div>
      <ng-embed embed-data="twitter" embed-options="options"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="twitch">Twitch TV Support</div>
      <div class="raw">{{twitchtv}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="twitchtv"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="dailymotion">Dailymotion and TED Support</div>
      <ng-embed embed-options="options" embed-data="dailymotion"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="liveleak">Liveleak Support</div>
      <div class="raw">{{liveleak}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="liveleak"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="dotsub">dotSub Support</div>
      <div class="raw">{{dotsub}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="dotsub"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="soundcloud">SoundCloud</div>
      <div class="raw">{{soundcloud}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="soundcloud"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="spotify">Spotify</div>
      <div class="raw">{{spotify}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="spotify"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="jsbin">JSBin Support</div>
      <div class="raw">{{jsbin}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="jsbin"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="jsfiddle">jsfiddle</div>
      <div class="raw">{{jsfiddle}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="jsfiddle"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="codepen">codepen</div>
      <div class="raw">{{codepen}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="codepen"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="plunker">Plunker Support</div>
      <div class="raw">{{plunker}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="plunker"></ng-embed>
    </div>

    <div class="card">
      <ng-embed embed-options="options" embed-data="gist"></ng-embed>
    </div>

    <div class="card">
      <div class="title bgc-blue-400 tc-white-1" id="ideone">ideone Support</div>
      <div class="raw">{{ideone}}</div>
      <div class="title tc-black-1">Result</div>
      <ng-embed embed-options="options" embed-data="ideone"></ng-embed>
    </div>





  </div>
</div>
